<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{fragments/head :: head ('Alojamiento')}"></th:block>
</head>
<body>

	<div th:replace="~{fragments/menu :: principal}"></div>

	 <section class="container contenido">

        <h1> 
			<i class="fa-solid fa-house text-secondary"></i> Alojamiento 
			<small th:if="${alojamiento.id != null}" class="text-secondary" th:text="${alojamiento.nombre}"></small> 
		</h1>

        <div th:replace="~{fragments/mensajes :: mensajes-alerta (mensajeUsuario=${mensajeUsuario})}"></div>

        <div class="tab-content">

            <section class="container my-3">
                
                <form th:action="${alojamiento.id == null} ? 'nuevo' : 'editar'" method="post" th:object="${alojamiento}" enctype="multipart/form-data">

                    <input type="hidden" name="id" th:field="*{id}" />

                    <div class="mb-3 row">
                        <label for="login" class="col-sm-2 col-form-label">Nombre <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" th:errorclass="is-invalid" />
                            <small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" th:errorclass="text-danger"></small>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="direccion" class="col-sm-2 col-form-label">Dirección <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="direccion" th:field="*{direccion}" th:errorclass="is-invalid" />
                            <small th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" th:errorclass="text-danger"></small>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Ubicación en mapa</label>
                        <div class="col-sm-10">
                            <div id="map" style="height: 300px;"></div>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Capacidad (nº de personas)</label>
                        <div class="col-sm-4">
                            <input id="capacidadInput" type="number" min="1" class="form-control" th:field="*{capacidad}"/>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="login" class="col-sm-2 col-form-label">Descripción <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="descripcion" th:field="*{descripcion}" rows="4" th:errorclass="is-invalid"></textarea>
                            <small th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" th:errorclass="text-danger"></small>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="latitud" class="col-sm-2 col-form-label">Coordenadas <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-text">Lat</span>
                                <input type="text" class="form-control" id="latitud" th:field="*{latitud}" th:errorclass="is-invalid" />
                                <span class="input-group-text">Lon</span>
                                <input type="text" class="form-control" id="longitud" th:field="*{longitud}" th:errorclass="is-invalid" />
                            </div>
                            <small th:if="${#fields.hasErrors('latitud')} or ${#fields.hasErrors('longitud')}"
                                th:text="${#fields.hasErrors('latitud')
                                    ? #strings.listJoin(#fields.errors('latitud'), ', ')
                                    : #strings.listJoin(#fields.errors('longitud'), ', ')}"
                                class="text-danger"></small>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Tarifa Base (€)</label>
                        <div class="col-sm-4">
                            <input id="tarifaBaseInput" type="text" class="form-control" th:field="*{tarifaBase}"/>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="foto" class="col-sm-2 col-form-label">Foto</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="foto" name="foto" accept="image/*" onchange="previewImage(event)" />
                            <small class="text-muted">Sube una imagen del alojamiento.</small>
                        </div>
                    </div>

                    <div class="my-4 d-flex justify-content-center">
                         <img id="preview"
                            class="img-fluid"
                            alt="Previsualización de la foto"
                            th:if="${alojamiento.foto != null}"
                            th:attr="src=${alojamiento.foto}"
                            style="max-height:300px;" />

                        <img id="preview" class="img-fluid" alt="Previsualización de la foto"
                            th:if="${alojamiento.foto == null}"
                            style="max-height:300px; display:none;" />
                    </div>

                    <hr class="my-4" />
            
                    <div class="my-4 text-end">
                        <button type="submit" class="btn btn-success ms-2">Guardar</button>
                        <a class="btn btn-outline-secondary ms-2" th:href="@{/gestion/alojamientos/lista}">Cerrar</a>
                    </div>

                </form>

            </section>
            
        </div>

    </section>

    <div th:replace="~{fragments/menu :: pie}"></div>

    <th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
    <script th:src="@{/js/gestion/alojamientos/detalle.js}"></script>
        
</body>
</html>