<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{fragments/head :: head ('Alojamientos')}"></th:block>
</head>
<body>

	<div th:replace="~{fragments/menu :: principal}"></div>

    <section class="container contenido">

        <h1 class="mb-4">
            <i class="fa-solid fa-home text-secondary"></i> Alojamientos 
            <a class="btn btn-success btn-sm me-2" title="Nuevo alojamiento" th:href="@{/gestion/alojamientos/detalle}"><i class="fa-solid fa-plus"></i></a>
        </h1>

        <div th:replace="~{fragments/mensajes :: mensajes-alerta (mensajeUsuario=${mensajeUsuario})}"></div>
        
        <table id="tablaAlojamientos" class="table table-sm table-striped table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Tarifa Base</th>
                    <th class="dt-right" data-dt-order="disable">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="alojamiento : ${alojamientos}">
                    <td th:text="${alojamiento.nombre}"></td>
                    <td th:text="${alojamiento.direccion}"></td>
                    <td th:text="${alojamiento.tarifaBase}"></td>
                    <td class="dt-right">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-outline-primary" title="Editar" data-accion="editar" th:data-id="${alojamiento.id}"><i class="fa-solid fa-pen"></i></button>
                            <button type="button" class="btn btn-outline-danger" title="Eliminar" data-accion="eliminar" th:data-id="${alojamiento.id}"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>

    <div th:replace="~{fragments/menu :: pie}"></div>

	<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>

    <script type="module">

        import * as ui from '[[@{/js/ui.js}]]';

        document.addEventListener('DOMContentLoaded', () => {
            
            let dt = new DataTable('#tablaAlojamientos', {
                language: {
                    url: '[[@{/js/datatables/es-ES.json}]]',
                },
            });

            // Botonera
            document.getElementById('tablaAlojamientos').addEventListener('click', evt => {
                const node = evt.composedPath().find(n => n.dataset && 'id' in n.dataset && 'accion' in n.dataset);
                if (node) {
                    const {id, accion} = node.dataset;
                    if (accion == 'editar') {
                        const searchParams = new URLSearchParams({ id: id });
                        window.location.assign('detalle?'+searchParams.toString());
                    } else if (accion == 'eliminar') {
                        ui.mostrarConfirmacionModal('Aviso', `El alojamiento será eliminado, ¿continuar?`, function() {
                            const searchParams = new URLSearchParams({ id: id });
                            window.location.assign('eliminar?'+searchParams.toString());
                        });
                    }
                }
            });
        });
	</script>

</body>
</html>