

    <!-- ====================================================================================== -->
    <!-- Fragmento para mostrar mensajes de alerta                                              -->
    <!-- ====================================================================================== -->
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="mensajes-alerta(mensajeUsuario)">
 <div class="my-3" th:if="${mensajeUsuario != null and mensajeUsuario.tipo != null}">
    <div class="alert alert-dismissible fade show"
         th:classappend="${mensajeUsuario.tipo.name() == 'OK'} ? ' alert-success'
                        : (${mensajeUsuario.tipo.name() == 'INFO'} ? ' alert-info'
                        : (${mensajeUsuario.tipo.name() == 'AVISO'} ? ' alert-warning'
                        : ' alert-danger'))"
         role="alert">

      <i th:class="${mensajeUsuario.tipo.name() == 'OK'} ? 'fa-solid fa-circle-check'
                 : (${mensajeUsuario.tipo.name() == 'INFO'} ? 'fa-solid fa-circle-info'
                 : (${mensajeUsuario.tipo.name() == 'AVISO'} ? 'fa-solid fa-circle-exclamation'
                 : 'fa-solid fa-circle-xmark'))"></i>

      <span class="ms-1" th:text="${mensajeUsuario.texto}"></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</th:block>