
.contenido {
	margin-top: 64px;  /* Espacio reservado para el menú superior e inferior "position:fixed" */
	margin-bottom: 64px;  /* Espacio reservado para el menú superior e inferior "position:fixed" */
	overflow: auto;
}

#map {
    width: 100%;
    height: 500px; /* o la altura que quieras */
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

.fecha-ocupada {
    background-color: red !important;
    color: white !important;
}
