<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head('Reserva')}"></th:block>
    <link rel="stylesheet" href="/css/reserva.css">
</head>
<body>
    <div th:replace="~{fragments/menu :: principal}"></div>

    <section class = "container contenido">
        
        <section class="container my-3">
        <!-- Formulario -->
            <form th:action="@{/reservar/pagar}" th:object="${reservaForm}" method="post" class="reserva-form mb-4">
                <input type="hidden" th:field="*{alojamientoId}">
                <input type="hidden" th:field="*{clienteId}">
                <input type="hidden" th:field="*{precioTotal}" id="precioTotalInput">

                <div class="mb-3 row align-items-end">
                    <!-- Fecha Inicio -->
                    <div class="col-md-6">
                        <label class="form-label">Fecha Inicio <span class="text-danger">*</span></label>
                        <div id="fechaInicio" class="input-group" data-td-target-input="nearest" data-td-target-toggle="nearest">
                            <input id="fechaInicioInput" name="fechaInicio" th:field="*{fechaInicio}" type="text" class="form-control" data-td-target="#fechaInicio"/>
                            <span class="input-group-text" data-td-target="#fechaInicio" data-td-toggle="datetimepicker">
                                <span class="fa-solid fa-calendar"></span>
                            </span>
                        </div>
                        <small th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}" class="text-danger"></small>
                    </div>

                    <!-- Fecha Fin -->
                    <div class="col-md-6">
                        <label class="form-label">Fecha Fin <span class="text-danger">*</span></label>
                        <div id="fechaFin" class="input-group" data-td-target-input="nearest" data-td-target-toggle="nearest">
                            <input id="fechaFinInput" name="fechaFin" th:field="*{fechaFin}" type="text" class="form-control" data-td-target="#fechaFin"/>
                            <span class="input-group-text" data-td-target="#fechaFin" data-td-toggle="datetimepicker">
                                <span class="fa-solid fa-calendar"></span>
                            </span>
                        </div>
                        <small th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}" class="text-danger"></small>
                    </div>
                </div>

            
        </form>
        </section>

            <!-- Forma de pago 
            <div class="mb-3">
                <label for="formaPago">Forma de pago</label>
                <select th:field="*{formaPago}" id="formaPagoSelect" class="form-select" required>
                    <option value="" disabled selected>Seleccione...</option>
                    <option value="paypal">PayPal</option>
                    <option value="alojamiento">Pago en el alojamiento</option>
                    <option value="transferencia">Transferencia bancaria</option>
                </select>
            </div>-->

            
        
        <section class="container my-3">
            <div class="reserva-card">
                <div class="reserva-imagen">
                    <img th:src="@{${alojamiento.foto}}" alt="Foto del alojamiento">
                </div>
                <div class="reserva-detalles">
                    <h2 th:text="${alojamiento.nombre}"></h2>
                    <p><strong>Cliente:</strong> <span th:text="${clienteNombre}"></span></p>
                    <p><strong>Capacidad:</strong> <span th:text="${alojamiento.capacidad}"></span> personas</p>

                    <!-- Fechas seleccionadas -->
                    <p><strong>Fechas seleccionadas:</strong>
                        <span id="fechaInicioCard" th:text="${#temporals.format(reservaForm.fechaInicio, 'dd/MM/yyyy')}"></span> - 
                        <span id="fechaFinCard" th:text="${#temporals.format(reservaForm.fechaFin, 'dd/MM/yyyy')}"></span>
                    </p>

                    <!-- Forma de pago seleccionada -->
                <!-- <p><strong>Forma de pago:</strong> <span id="formaPagoCard" th:text="${reservaForm.formaPago} ?: '-'"></span></p> -->

                    <!-- Precio total -->
                    <p><strong>Precio total:</strong> <span id="precioTotalCard" class="precio"  th:text="${#numbers.formatDecimal(reservaForm.precioTotal,1,2)} + ' €'"></span></p>
                
                    <button type="submit" class="btn btn-verde w-100">Confirmar Reserva</button>
                </div>
            </div>
        </section>

    </section>

    <div th:replace="~{fragments/menu :: pie}"></div>
    <th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
    <script type="module" th:src="@{/js/reserva.js}"></script>
</body>
</html>
