<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{fragments/head :: head ('Reserva')}"></th:block>
</head>
<body>

	<div th:replace="~{fragments/menu :: principal}"></div>

	 <section class="container contenido">

        <h1> 
			<i class="fa-solid fa-calendar-days text-secondary"></i> Reserva 
			<small th:if="${reserva != null and reserva.id != null}" class="text-secondary"  th:text="${clienteNombre}"></small>
		</h1>

        <div th:replace="~{fragments/mensajes :: mensajes-alerta (mensajeUsuario=${mensajeUsuario})}"></div>

        <div class="tab-content">

            <section class="container my-3">
                
                <form th:action="@{${reserva.id} != null ? '/gestion/reservas/editar' : '/gestion/reservas/nuevo'}" method="post" th:object="${reserva}">

                    <input type="hidden" name="id" th:field="*{id}" />

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Cliente <span class="text-danger">*</span></label>
                        <div class="col-sm-10" th:if="${#authorization.expression('hasAnyRole(''PROPIETARIO'', ''ADMIN'')')}">
                            <select id="clienteSelect" class="form-select" th:field="*{clienteId}">
                                <option value="">Seleccione un cliente...</option>
                                <option th:each="c : ${clientes}" 
                                        th:value="${c.id}" 
                                        th:text="${c.nombre}" 
                                        th:selected="${reserva.clienteId != null and reserva.clienteId == c.id}">
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-10" th:if="${#authorization.expression('hasRole(''CLIENTE'')')}">
                            <select id="clienteSelectCliente" class="form-select" th:field="*{clienteId}" disabled>
                                <option th:each="c : ${clientes}" 
                                        th:value="${c.id}" 
                                        th:text="${c.nombre}" 
                                        th:selected="${reserva.clienteId != null and reserva.clienteId == c.id}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Alojamiento <span class="text-danger">*</span></label>
                        <div class="col-sm-10" th:if="${#authorization.expression('hasAnyRole(''PROPIETARIO'', ''ADMIN'')')}">
                            <select id="alojamientoSelect" class="form-select" th:field="*{alojamientoId}">
                                <option value="">Seleccione alojamiento...</option>
                                <option th:each="a : ${alojamientos}" 
                                        th:value="${a.id}" 
                                        th:text="${a.nombre}" 
                                        th:selected="${reserva.alojamientoId != null and reserva.alojamientoId == a.id}">
                                </option>
                            </select>
                        </div>
                            <div class="col-sm-10" th:if="${#authorization.expression('hasRole(''CLIENTE'')')}">
                                <select id="alojamientoSelectCliente" class="form-select" th:field="*{alojamientoId}" disabled>
                                    <option th:each="a : ${alojamientos}" 
                                            th:value="${a.id}" 
                                            th:text="${a.nombre}" 
                                            th:selected="${reserva.alojamientoId != null and reserva.alojamientoId == a.id}">
                                    </option>
                                </select>
                            </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Fecha Inicio <span class="text-danger">*</span></label>
                        <div class="col-sm-4">
                            <div id="fechaInicio" class="input-group" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                    <input id="fechaInicioInput" name="fechaInicio" th:field="*{fechaInicio}" type="text" class="form-control" data-td-target="#fechaInicio"/>
                                    <span class="input-group-text" data-td-target="#fechaInicio" data-td-toggle="datetimepicker">
                                        <span class="fa-solid fa-calendar"></span>
                                    </span>
                                </div>
                            <small th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}" class="text-danger"></small>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Fecha Fin <span class="text-danger">*</span></label>
                        <div class="col-sm-4">
                            <div id="fechaFin" class="input-group" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                    <input id="fechaFinInput" name="fechaFin" th:field="*{fechaFin}" type="text" class="form-control" data-td-target="#fechaFin" />
                                    <span class="input-group-text" data-td-target="#fechaFin" data-td-toggle="datetimepicker">
                                        <span class="fa-solid fa-calendar"></span>
                                    </span>
                            </div>
                            <small th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}" class="text-danger"></small>
                        </div>
                    </div>

                    <!-- Solo para creación.  -->
                    <div class="mb-3 row" th:if="${#authorization.expression('hasAnyRole(''PROPIETARIO'', ''ADMIN'')') and reserva.id == null}">
                        <label class="col-sm-2 col-form-label">Estado</label>
                        <div class="col-sm-4">
                            <select th:field="*{estado}" class="form-select">
                                <option th:value="${T(com.nayarasanchez.gestor_alojamientos.model.EstadoReserva).PENDIENTE}"
                                        th:text="PENDIENTE"></option>
                                <option th:value="${T(com.nayarasanchez.gestor_alojamientos.model.EstadoReserva).CONFIRMADA}"
                                        th:text="CONFIRMADA"></option>
                            </select>
                        </div>
                    </div>

                    <!-- Solo para edición. Solo editable para propietarios o administradores.  -->
                    <div class="mb-3 row" th:if="${#authorization.expression('hasAnyRole(''PROPIETARIO'', ''ADMIN'')') and reserva.id != null }">
                        <label class="col-sm-2 col-form-label">Estado</label>
                        <div class="col-sm-4">
                            <select th:field="*{estado}" class="form-select">
                                <option th:each="e : ${T(com.nayarasanchez.gestor_alojamientos.model.EstadoReserva).values()}"
                                        th:value="${e}" 
                                        th:text="${e}" >
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Forma de pago 
                            <span class="text-danger" th:if="${#authorization.expression('hasAnyRole(''PROPIETARIO'', ''ADMIN'')')}">*</span>
                        </label>
                        
                        <div class="col-sm-4" th:if="${#authorization.expression('hasAnyRole(''PROPIETARIO'', ''ADMIN'')')}">
                            <select th:field="*{formaPago}" class="form-select" id="formaPagoSelect">
                                <option value="">Seleccione una forma de pago...</option>
                                <option th:value="${T(com.nayarasanchez.gestor_alojamientos.model.FormaPago).ALOJAMIENTO}"
                                        th:text="'Pago en el alojamiento'"></option>
                                <option th:value="${T(com.nayarasanchez.gestor_alojamientos.model.FormaPago).TRANSFERENCIA}"
                                        th:text="'Transferencia bancaria'"></option>
                            </select>
                        </div>

                        <div class="col-sm-4" th:if="${#authorization.expression('hasRole(''CLIENTE'')')}">
                            <div th:switch="${reserva.formaPago?.name()}">
                                <input type="text" class="form-control" 
                                    th:case="'ALOJAMIENTO'" 
                                    th:value="'Pago en el alojamiento'" readonly />

                                <input type="text" class="form-control" 
                                    th:case="'TRANSFERENCIA'" 
                                    th:value="'Transferencia bancaria'" readonly />

                                <input type="text" class="form-control" 
                                    th:case="*"
                                    th:value="''" readonly />
                            </div>
                        </div>
                    </div>
                    
                    <!-- Solo lectura para clientes -->
                    <div class="mb-3 row" th:if="${#authorization.expression('hasRole(''PROPIETARIO'')')}">
                        <label class="col-sm-2 col-form-label">Estado</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" th:value="${reserva.estado}" readonly />
                        </div>
                    </div>


                    <!-- Estado del pago -->
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Estado del Pago</label>

                        <!-- Editable solo por propietario o admin -->
                        <div class="col-sm-4" th:if="${#authorization.expression('hasAnyRole(''PROPIETARIO'', ''ADMIN'')')}">
                            <select th:field="*{estadoPago}" class="form-select" id="estadoPagoSelect">
                                <option value="">Seleccione estado del pago...</option>
                                <option th:each="ep : ${T(com.nayarasanchez.gestor_alojamientos.model.EstadoPago).values()}"
                                        th:value="${ep}" 
                                        th:text="${ep}">
                                </option>
                            </select>
                        </div>

                        <!-- Solo lectura para clientes -->
                        <div class="col-sm-4" th:if="${#authorization.expression('hasRole(''CLIENTE'')')}">
                            <input type="text" class="form-control" th:value="${reserva.estadoPago}" readonly />
                        </div>
                    </div>

                    

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Total (€)</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" th:field="*{precioTotal}" id="totalInput" readonly/>
                        </div>
                    </div>


                    
                    <hr class="my-4" />
            
                    <div class="my-4 text-end">
                        <a class="btn btn-warning text-dark ms-2 custom-hover"
                        th:if="${reserva.estado?.name() == 'CONFIRMADA'
                            and reserva.fechaFin != null
                            and reserva.fechaFin.isBefore(T(java.time.LocalDate).now())
                            and reserva.valoracion == null 
                            and #authorization.expression('hasRole(''CLIENTE'')')}" 
                        th:href="@{/valoraciones/nueva/{id}(id=${reserva.id})}">
                        Dejar Valoración
                        </a>
                        <button type="submit" class="btn btn-success ms-2">Guardar</button>
                        <a class="btn btn-outline-secondary ms-2" th:href="@{/gestion/reservas/lista}">Cerrar</a>
                    </div>
                    
                </form>

            </section>
            

        </div>

    </section>

    <div th:replace="~{fragments/menu :: pie}"></div>

	<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>

    <script th:src="@{/js/gestion/reservas/detalle.js}"></script>

    
</body>
</html>