<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{fragments/head :: head ('Reserva')}"></th:block>
</head>
<body>

	<div th:replace="~{fragments/menu :: principal}"></div>

	 <section class="container contenido">

        <h1> 
			<i class="fa-solid fa-calendar-days text-secondary"></i> Reserva 
			<small th:if="${reserva != null and reserva.id != null and reserva.cliente != null}" class="text-secondary" th:text="${reserva.cliente.nombre}"></small>
 
		</h1>

        <div th:replace="~{fragments/mensajes :: mensajes-alerta (mensajeUsuario=${mensajeUsuario})}"></div>

        <div class="tab-content">

            <section class="container my-3">
                
                <form th:action="${reserva.id == null} ? 'nuevo' : 'editar'" method="post" th:object="${reserva}">

                    <input type="hidden" name="id" th:field="*{id}" />

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Cliente <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <select id="clienteSelect" class="form-select" th:field="*{cliente}">
                                <option value="">Seleccione un cliente...</option>
                                <option th:each="c : ${clientes}" th:value="${c.id}" th:text="${c.nombre}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Alojamiento <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <select id="alojamientoSelect" class="form-select" th:field="*{alojamiento}">
                                <option value="">Seleccione alojamiento...</option>
                                <option th:each="a : ${alojamientos}" th:value="${a.id}" th:text="${a.nombre}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Fecha Inicio <span class="text-danger">*</span></label>
                        <div class="col-sm-4">
                            <div id="fechaInicio" class="input-group" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                    <input id="fechaInicioInput" name="fechaInicio" th:field="*{fechaInicio}" type="text" class="form-control" data-td-target="#fechaInicio"/>
                                    <span class="input-group-text" data-td-target="#fechaInicio" data-td-toggle="datetimepicker">
                                        <span class="fa-solid fa-calendar"></span>
                                    </span>
                                </div>
                            <small th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}" class="text-danger"></small>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Fecha Fin <span class="text-danger">*</span></label>
                        <div class="col-sm-4">
                            <div id="fechaFin" class="input-group" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                    <input id="fechaFinInput" name="fechaFin" th:field="*{fechaFin}" type="text" class="form-control" data-td-target="#fechaFin" />
                                    <span class="input-group-text" data-td-target="#fechaFin" data-td-toggle="datetimepicker">
                                        <span class="fa-solid fa-calendar"></span>
                                    </span>
                            </div>
                            <small th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}" class="text-danger"></small>
                        </div>
                    </div>


                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Total (€)</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" th:field="*{precioTotal}" id="totalInput" readonly/>
                        </div>
                    </div>

                    <hr class="my-4" />
            
                    <div class="my-4 text-end">
                        <button type="submit" class="btn btn-success ms-2">Guardar</button>
                        <a class="btn btn-outline-secondary ms-2" th:href="@{/gestion/reservas/lista}">Cerrar</a>
                    </div>
                    
                </form>

            </section>
            

        </div>

    </section>

    <div th:replace="~{fragments/menu :: pie}"></div>

	<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>

    <script type="module" th:src="@{/js/gestion/reservas/detalle.js}"></script>

    
</body>
</html>